<!DOCTYPE html>
<html>
<head>
    <title>라오스 의료활동</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/material.min.css">
    <script src="/static/script.js"></script>
    <script src="/static/material.min.js"></script>
</head>
<body>

  <!-- The drawer is always open in large screens. The header is always shown,
    even in small screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
              mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer">
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/add/patient">환자접수</a>
            <a class="mdl-navigation__link" href="/modify/chart">환자차트</a>
          </nav>
        </div>
      </div>
    </header>
    <div class="mdl-layout__drawer left-menu">
      <span class="mdl-layout-title">환자목록</span>
      <button class="mdl-button mdl-js-button mdl-button--raised" id="patientList_reloadButton">
        새로고침
      </button>
      <nav class="mdl-navigation">
        <ul class="patient_list">
        <li><!-- info mode -->
          <a class="mdl-navigation__link smallAList" href="/modify/{{mode}}/id">환자1</a>
        </li>
        <li><!-- chart mode -->
          <a class="mdl-navigation__link smallAList" href="/modify/{{mode}}/id">환자2</a>
        </li>
        </ul>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">{{{body}}}</div>
    </main>
  </div>
<footer>All copyrights reserved by Paul Kim &copy; 2016 </footer>
<script>
var mode ="" + "{{mode}}";
if( mode.trim() === ""){
  mode = "patient"
}
</script>
</body>
</html>
