<div class="description">
    <h3>라오스 진료 차트</h3>
    <div class="main_wrapper">
      <div class="main_button reciept_button">
        <a href="/add/patient">기본정보 입력</a>
      </div>
      <div class="main_button medical_button">
        <a href="/modify/chart">진료</a>
      </div>
    </div>
</div>
