*{ margin:0;
  font-size:normal;
  font-family:'NanumGothic', '나눔고딕', 'Malgun Gothic', '맑은 고딕', 'dotum', '돋움';
  font-weight:bold;
  list-style:none;
}

main {
  clear:both;
  min-height: 500px;
  width:1000px;
}
header{
  padding:10px;
  background-color: #ACA;
}

header ul li {
  height:30px;
  width: 200px;
  float:left;
}

footer{
  clear: both;
}

.patient_list li a.smallAList{
  height:5px;
}

div.is-visible.left-menu{
  width :400px;
}
