*{ margin:0;
  font-size:normal;
  font-family:'NanumGothic', '나눔고딕', 'Malgun Gothic', '맑은 고딕', 'dotum', '돋움';
  font-weight:bold;
  list-style:none;
}

main {
  clear:both;
  min-height: 500px;
  width:1020px;
}
header{
  padding:10px;
  background-color: #ACA;
}

header ul li {
  height:30px;
  width: 200px;
  float:left;
}

footer{
  clear: both;
}

div.left_patient_list ul.patient_list{
  padding-left: 10px;
}

.patient_list li a.smallAList{
  height:5px;
}

div.is-visible.left-menu{
  /*width:400px;*/
}

div.patient_info {
  position: absolute;
  margin: 10px;
}

div.chart_container{
  position:absolute;
  margin-left: 190px;
  transition: 1s;
  -webkit-transiton: 1s;
  margin-top:20px;
}

div.chart_container ul li div.patient_chart{
  padding-left: 10px;
  padding-bottom: 10px;
  width:800px;
}

div.chart_container ul {
  padding-left:10px;
  padding-bottom:10px;
}

div.chart_container ul li div.patient_chart h4{
  margin-top : 5px;
  margin-bottom: 1px;
}

div.chart_container ul li div.patient_chart textarea{
  padding: 10px;
  width:600px;
}

div.chart_container ul li div.patient_chart textarea.assessment{
  height:300px;
}

div.chart_container ul li div.patient_chart textarea.prescription{
  height:100px;
}

div.chart_container button.new_chart_button{
  z-index: 10;
  position:absolute;
  margin: 10px;
  left: 700px;
  font-size: 40px;
}

.patient-chart-wide.mdl-card {
  min-height:80px;
  height:400px;
  width: 700px;
}

.patient-chart-wide.mdl-card.shrinked {
  min-height:80px;
  height:80px;
  width: 700px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
}
.demo-card-wide > .mdl-card__menu {
  color: #AAA;
}
